<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- 导入公共的 head-->
<head th:replace="includes/common_includes :: common_header(课程中心)">
</head>
<body>

<!-- 导入公共的 nav-->
<div th:replace="includes/common_includes :: common_nav"></div>

<!-- 导入公共的 搜索栏-->
<div th:replace="includes/common_includes :: common_search"></div>

<!-- 菜单栏 start-->
<div class="dianp_daoh_beij">
    <div class="beij_center">
        <div class="dp_daoh_ul">
            <ul>
                <li class="dp_dh_li"><a href="/main" class="lin_color">首页</a></li>
                <li class="dp_dh_li"><a href="/course" class="lin_color">视频中心</a></li>
                <li class="dp_dh_li"><a href="#" class="lin_color">博客中心</a></li>
                <li class="dp_dh_li"><a href="#" class="lin_color">会员中心</a></li>
                <li class="dp_dh_li"><a href="#" class="lin_color">个人中心</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- 菜单栏 end-->

<!-- 精品推荐 start-->
<div class="beij_center">
    <div class="dp_sy_biaot">
        <div class="dis_jvz">
            <div class="zuoy_xian"></div>
            <div class="biaot_minz">
                <h1>视频中心</h1>
            </div>
            <div class="zuoy_xian"></div>
        </div>
    </div>
    <div class="jinp_tuij_lb">
        <ul>
            <li th:each="allCourse:${allCourse}" style="width:219px;height: 250px;">
                <a href="#" class="jngp_img" style="width:219px;height: 180px;"><img style="width:219px;height: 180px;" th:src="'/Path/'+${allCourse.imageUrl}" alt="课程封面"></a>
                <a href="#" class="jinp_biaot" th:text="${allCourse.name}">java</a>
                <span th:text="'￥'+${allCourse.price} + ${allCourse.label} ">￥139.00</span>
            </li>
            <li th:each="boutiqueCourse:${boutiqueCourse}">
                <a href="#" class="jngp_img"><img th:src="'/Path/'+${boutiqueCourse.imageUrl}" alt="课程封面"></a>
                <a href="#" class="jinp_biaot" th:text="${boutiqueCourse.name}">java</a>
                <span th:text="'评价:'+ ${boutiqueCourse.label} "></span>
            </li>
        </ul>
    </div>
</div>
<!-- 精品推荐 end-->

<!-- 导入公共的 foot -->
<div th:replace="includes/common_includes :: common_foot"></div>
<!-- 导入公共的 copyright-->
<div th:replace="includes/common_includes :: common_copyright"></div>

</body>
</html>