<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="box-body">
    <label for="excelName">文件名称</label>
    <input id="excelName" class="form-control required" value="导出excel" type="text" placeholder="请输入导出的文件名称">
    <br>
    <label for="excelPath">导出地址</label>
    <input id="excelPath" class="form-control required" value="F:/javaWeb/education/upload/" type="text" >
    <br>
</div>
</body>
</html>