<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- 引入公共的 静态资源 部分 -->
<head th:replace="includes/common_includes :: common_header('后台管理 | 用户列表')"></head>
<body class="hold-transition skin-blue layout-boxed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <!-- 引入公共的 导航栏 部分 -->
    <header th:replace="includes/common_includes :: common_nav"></header>
    <!-- 引入公共的 菜单栏 部分 -->
    <aside th:replace="includes/common_includes :: common_menu"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                用户管理
            </h1>
            <ol class="breadcrumb">
                <li><a href="/main"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#">用户管理</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div th:if="${baseResult != null}" class="alert alert-dismissible"
                         th:classappend="${baseResult.status == 200} ? 'alert-success' : 'alert-danger'">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <span th:text="${baseResult.message}"></span>
                    </div>

                    <div class="box box-info box-info-search" style="display: none;">
                        <div class="box-header">
                            <h3 class="box-title">高级搜索</h3>
                        </div>

                        <div class="box-body">
                            <div class="row form-horizontal">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">账号</label>

                                        <div class="col-sm-9">
                                            <input id="name" class="form-control" placeholder="账号"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="nickname" class="col-sm-3 control-label">昵称</label>

                                        <div class="col-sm-9">
                                            <input id="nickname" class="form-control" placeholder="昵称"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">邮箱</label>

                                        <div class="col-sm-9">
                                            <input id="email" class="form-control" placeholder="邮箱"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="phone" class="col-sm-3 control-label">手机</label>

                                        <div class="col-sm-9">
                                            <input id="phone" class="form-control" placeholder="手机"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="sex" class="col-sm-3 control-label">性别</label>

                                        <div class="col-sm-9">
                                            <select id="sex" class="form-control" style="width: 100%;">
                                                <option selected="selected"></option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="education" class="col-sm-3 control-label">学历</label>

                                        <div class="col-sm-9">
                                            <select id="education" class="form-control" style="width: 100%;">
                                                <option selected="selected"></option>
                                                <option>无</option>
                                                <option>初中</option>
                                                <option>高中</option>
                                                <option>中专</option>
                                                <option>专科</option>
                                                <option>本科</option>
                                                <option>硕士</option>
                                                <option>博士</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="button" class="btn btn-info pull-right" onclick="search();">搜索</button>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">用户列表</h3>
                        </div>

                        <div class="box-body">
                            <a href="/user/form" type="button" class="btn btn-sm btn-default"><i
                                    class="fa fa-plus"></i>
                                新增
                            </a>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-default"
                                    onclick="App.deleteMulti('/user/delete')"><i class="fa fa-trash-o"></i> 删除
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="$('.box-info-search').css('display') == 'none' ? $('.box-info-search').show('fast') : $('.box-info-search').hide('fast')">
                                <i class="fa fa-search"></i> 搜索
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-default"
                                    onclick="App.excelInput('/user/excelInput ')"><i class="fa fa-upload"></i>
                                导入
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-default"
                                    onclick="App.excelExport('/user/excelExport ')"><i class="fa fa-download"></i>
                                导出
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-default"
                                    onclick="App.recharge('/user/recharge ')"><i class="fa fa-money"></i>
                                余额充值
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-default"
                                    onclick="App.vipSetting('/user/vipSetting')"><i class="fa fa-coffee"></i>
                                 VIP 设置
                            </button>&nbsp;&nbsp;&nbsp;
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="dataTable" class="table table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" class="minimal icheck_master"/></th>
                                    <th>用户名</th>
                                    <th>昵称</th>
                                    <th>手机号</th>
                                    <th>余额</th>
                                    <th>邮箱</th>
                                    <th>VIP时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- 引入公共的 copyright 部分 -->
    <footer th:replace="includes/common_includes :: common_copyright"></footer>

</div>

<!-- 引入公共的 JS 部分 -->
<div th:replace="includes/common_includes :: common_foot"></div>

<!-- 引入公共的 模态框 部分 -->
<div th:replace="includes/common_includes :: common_default_modal"></div>
<div th:replace="includes/common_includes :: common_detail_modal"></div>
<script>
    var _dataTable;

    $(function () {
        var _columns = [
            {
                "data": function (row, type, val, meta) {
                    return '<input id="' + row.id + '" type="checkbox" class="minimal" />';
                }
            },
            {"data": "name"},
            {"data": "nickname"},
            {"data": "phone"},
            {"data": "collect"},
            {"data": "email"},
            {
                "data": function (row, type, val, meta) {
                    var vip = row.vip;
                    return vip == null ? "无VIP" : DateTime.format(vip, "yyyy-MM-dd HH:mm:ss");
                }
            },
            {
                "data": function (row, type, val, meta) {
                    var detailUrl = "/user/detail?id=" + row.id;
                    var deleteUrl = "/user/delete";
                    return '<button type="button" class="btn btn-sm btn-default" onclick="App.showDetail(\'' + detailUrl + '\');"><i class="fa fa-search"></i> 查看</button>&nbsp;&nbsp;&nbsp;' +
                        '<a href="/user/form?id=' + row.id + '" type="button" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> 编辑</a>&nbsp;&nbsp;&nbsp;' +
                        '<button type="button" class="btn btn-sm btn-danger" onclick="App.deleteSingle(\'' + deleteUrl + '\', \'' + row.id + '\')"><i class="fa fa-trash-o"></i> 删除</button>';
                }
            }
        ];

        _dataTable = App.initDataTables("/user/page", _columns);
    });

    function search() {
        var name = $("#name").val();
        var nickname = $("#nickname").val();
        var phone = $("#phone").val();
        var email = $("#email").val();
        var sex = $("#sex").val();
        var education = $("#education").val();

        var param = {
            "name": name,
            "nickname": nickname,
            "phone": phone,
            "email": email,
            "sex": sex,
            "education": education
        };

        _dataTable.settings()[0].ajax.data = param;
        _dataTable.ajax.reload();
    }
</script>
</body>
</html>