<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van589.mooc.web.admin.dao..AdminMapper">
  <resultMap id="BaseResultMap" type="com.van589.mooc.domain.Admin">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="fristtime" jdbcType="TIMESTAMP" property="fristtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="lasttime" jdbcType="TIMESTAMP" property="lasttime" />
  </resultMap>


</mapper>