<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van589.mooc.web.admin.dao.CourseMapper">

    <resultMap id="BaseResultMap" type="com.van589.mooc.domain.Course">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="file_id" jdbcType="VARCHAR" property="fileId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="firsttime" jdbcType="TIMESTAMP" property="firsttime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <sql id="courseColumns">
        a.id,
        a.file_id AS fileId,
        a.name,
        a.introduction,
        a.type,
        a.price,
        a.label,
        a.firsttime,
        a.updatetime
    </sql>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from course AS a
        <where>
            <if test="name != null and name != ''">
                AND a.name LIKE CONCAT ('%', #{name}, '%')
            </if>
            <if test="introduction != null and introduction != ''">
                AND a.introduction LIKE CONCAT ('%', #{introduction}, '%')
            </if>
            <if test="type != null and type != ''">
                AND a.type LIKE CONCAT ('%', #{type}, '%')
            </if>
            <if test="price != null and price != ''">
                AND a.price LIKE CONCAT ('%', #{price}, '%')
            </if>
            <if test="label != null and label != ''">
                AND a.label LIKE CONCAT ('%', #{label}, '%')
            </if>
            <if test="fileId != null and fileId != '' and fileId == '是'.toString() ">
                AND a.file_id is not null
            </if>
            <if test="fileId != null and fileId != '' and fileId == '否'.toString() ">
                AND a.file_id is null
            </if>
        </where>
    </select>

    <select id="page" parameterType="java.util.Map" resultType="com.van589.mooc.domain.Course">
        SELECT
        <include refid="courseColumns"/>
        FROM
        course AS a
        <where>
            <if test="pageParams.name != null and pageParams.name != ''">
                AND a.name LIKE CONCAT ('%', #{pageParams.name}, '%')
            </if>
            <if test="pageParams.introduction != null and pageParams.introduction != ''">
                AND a.introduction LIKE CONCAT ('%', #{pageParams.introduction}, '%')
            </if>
            <if test="pageParams.type != null and pageParams.type != ''">
                AND a.type LIKE CONCAT ('%', #{pageParams.type}, '%')
            </if>
            <if test="pageParams.price != null and pageParams.price != ''">
                AND a.price LIKE CONCAT ('%', #{pageParams.price}, '%')
            </if>
            <if test="pageParams.label != null and pageParams.label != ''">
                AND a.label LIKE CONCAT ('%', #{pageParams.label}, '%')
            </if>
            <if test="pageParams.fileId != null and pageParams.fileId != '' and pageParams.fileId == '是'.toString()">
                AND a.file_id is not null
            </if>
            <if test="pageParams.fileId != null and pageParams.fileId != '' and pageParams.fileId == '否'.toString()">
                AND a.file_id is null
            </if>
        </where>
        LIMIT #{page}, #{pageSize}
    </select>

    <select id="selectById" resultType="com.van589.mooc.domain.Course">
        SELECT
        <include refid="courseColumns"></include>
        FROM course AS a
        where
        a.id = #{id}
    </select>

    <update id="update">
        UPDATE
            course
        SET name         = #{name},
            file_id      = #{fileId},
            introduction = #{introduction},
            type         = #{type},
            price        = #{price},
            label        = #{label},
            updatetime   = #{updatetime}
        WHERE id = #{id}
    </update>

    <delete id="deleteMulti">
        DELETE FROM course
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>