<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van589.mooc.web.admin.dao.CourseMapper">

    <resultMap id="BaseResultMap" type="com.van589.mooc.domain.Course">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="fristtime" jdbcType="TIMESTAMP" property="fristtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <sql id="courseColumns">
        a.id,
        a.name,
        a.introduction,
        a.type,
        a.price,
        a.label,
        a.fristtime,
        a.updatetime
    </sql>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from course AS a
        <!--<where>
          <if test="name != null and name != ''">
            AND a.name LIKE CONCAT ('%', #{name}, '%')
          </if>
          <if test="nickname != null and nickname != ''">
            AND a.nickname LIKE CONCAT ('%', #{nickname}, '%')
          </if>
          <if test="phone != null and phone != ''">
            AND a.phone LIKE CONCAT ('%', #{phone}, '%')
          </if>
          <if test="email != null and email != ''">
            AND a.email LIKE CONCAT ('%', #{email}, '%')
          </if>
          <if test="sex != null and sex != ''">
            AND a.sex LIKE CONCAT ('%', #{sex}, '%')
          </if>
          <if test="education != null and education != ''">
            AND a.education LIKE CONCAT ('%', #{education}, '%')
          </if>
        </where>-->
    </select>

    <select id="page" parameterType="java.util.Map" resultType="com.van589.mooc.domain.Course">
        SELECT
        <include refid="courseColumns"/>
        FROM
        course AS a
        <!--<where>
          <if test="pageParams.name != null and pageParams.name != ''">
            AND a.name LIKE CONCAT ('%', #{pageParams.name}, '%')
          </if>
          <if test="pageParams.nickname != null and pageParams.nickname != ''">
            AND a.nickname LIKE CONCAT ('%', #{pageParams.nickname}, '%')
          </if>
          <if test="pageParams.phone != null and pageParams.phone != ''">
            AND a.phone LIKE CONCAT ('%', #{pageParams.phone}, '%')
          </if>
          <if test="pageParams.email != null and pageParams.email != ''">
            AND a.email LIKE CONCAT ('%', #{pageParams.email}, '%')
          </if>
          <if test="pageParams.sex != null and pageParams.sex != ''">
            AND a.sex LIKE CONCAT ('%', #{pageParams.sex}, '%')
          </if>
          <if test="pageParams.education != null and pageParams.education != ''">
            AND a.education LIKE CONCAT ('%', #{pageParams.education}, '%')
          </if>
        </where>-->
        LIMIT #{page}, #{pageSize}
    </select>

    <select id="selectById" resultType="com.van589.mooc.domain.Course">
        SELECT
        <include refid="courseColumns"></include>
        FROM course AS a
        where
        a.id = #{id}
    </select>

    <update id="update">
        UPDATE
            course
        SET name         = #{name},
            introduction = #{introduction},
            type         = #{type},
            price        = #{price},
            label        = #{label},
            updatetime   = #{updatetime}
        WHERE id = #{id}
    </update>

    <delete id="deleteMulti">
        DELETE FROM course
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>